html,
body {
  height: 100%;
}

.form-signin {
  max-width: 300px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#error {
    max-width: 300px;
    color: #f32424;
    background-color: #a8a7a7;
    top: 0;
    position: absolute;
    border: 2px solid grey;
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -10px;
}

#er {
    display: flex;
    justify-content: center;
}